

.background_footer{
    background-image: url("../assets/images/footer/footer-bgimg.png");
    height: 10%;
    align-items: center;
    display: flex;
}
p{
    font-size: 20px;
    color: white;
    display: flex;
    margin: auto;
}