#background-header{
    background: #0734559d;
        #logo{
            margin: auto;
            display: flex;
            justify-content: center;
            padding: 20px;  
        }
            .logo-img{
                 width: 20%;
            }   
}