<<<<<<< HEAD
@import "participants-list.scss";
@import "roulette.scss";
@import "header-footer.scss";
=======
@import url(../sass/header.scss);
@import url(../sass/footer.scss);
>>>>>>> origin/feature/emma-heli_header

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
<<<<<<< HEAD
	background-image: url("../assets/background-img.jpg");
=======
    background-image: url("../assets/images/background/background-img.jpg");
>>>>>>> origin/feature/emma-heli_header
    background-position: center center;
    height: 1200px;
    background-attachment: fixed;
    background-size: cover;
<<<<<<< HEAD
}

header{
	background: #105d9c93 ;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    height: 150px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
=======
>>>>>>> origin/feature/emma-heli_header
}