@import url(./roulette.scss);

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

#roulete-container {
	position: relative;
}

#roulette-names{
	position: relative;
	z-index: 1;
	background-color:blue;
}


button {
	z-index: 10;
}

#arrow-mark {
	position: absolute;
	z-index: 10;
	width: 10px;
	height: 10px;
	background-color: red;
}


#roulette-background
{
	background-position-x: center;
	background-position-y: center;
	display:flex;
	align-items: center;
	width: 700px;
	height: 700px;
 	position:relative;  
	background-image: url("../assets/images/wheel/roulette-img.png");
	background-repeat: no-repeat;
	border: 5px solid blueviolet;
	z-index: -1; 
}

/* #roulette-circle-shape
{
	position:relative; 
	display:flex;
	margin: auto;
	align-self: center;
	overflow:hidden;
	width:335px; 
	height:335px; 
	border-radius:500px;
	background-color: burlywood;
	bottom:3.5px;
    left:4px;

} */
#roulette-inner-circle-shape:before
{
	content:''; 
	top:3px;
    bottom:0;
    left:6px;
    right:0;
	margin: auto;
	width:147px; 
	height:150px; 
	display:block; 
	position:absolute; 
	border-radius:200px;
	background-color: white;
	z-index: 1;
	background-image: url("../assets/images/wheel/roulette-center6.png");
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
/* 	background-attachment:fixed; */
}