#roulette{
    z-index: 100;
    transition: all 5s;
}

#roulete-container {
	position: relative;
	display:flex;
	align-items: center;
}

#roulette-names{
	position: relative;
	z-index: 3;
	background-color:blue;
}

button {
	z-index: 10;
}

#arrow-mark 
{
	background-color: red;
	position: absolute;
	width: 100px;
	height: 50px;
	z-index: 10;
	left: 5%;
}


#roulette-background
{
	background-image: url("../assets/images/wheel/roulette-img.png");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	position:relative;  
	display:flex;
	align-items: center;
	width: 700px;
	height: 700px;
	z-index: -1; 
	
	border: 5px solid blueviolet;
}

#roulette-inner-circle-shape:before
{
	content:''; 
	background-image: url("../assets/images/wheel/roulette-center6.png");
	background-color: white;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	border-radius:200px;
	position:absolute; 
	margin: auto;
	display:block; 
	width:140px; 
	height:143px; 
	top:3px;
    bottom:0;
    left:6px;
    right:0;
	z-index: 1;
}

/* #roulette-circle-shape
{
	position:relative; 
	display:flex;
	margin: auto;
	align-self: center;
	overflow:hidden;
	width:335px; 
	height:335px; 
	border-radius:500px;
	background-color: burlywood;
	bottom:3.5px;
    left:4px;

} */